.hero-section {
    background-color: #8d4925;
    color: white;
    padding: 50px 0;
  }
  
  .highlight-books {
    padding: 50px 0;
  }
  
  .carousel-section {
    padding: 50px 0;
  }
  
  footer {
    background-color: #8d4925;
    color: white;
    padding: 30px 0;
  }
  