.card button.btn-primary {
    background-color: #8d4925 !important;
    border-color: #8d4925 !important;
    transition: background-color 0.3s ease-in-out;
}

.card button.btn-primary:hover {
    background-color: #A0522D !important;
    border-color: #8d4925 !important;
}